body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

form {
  display: grid;
  justify-items: center;
  padding: 2em;
  gap: 1em;
  width: 100%;
  background-color: black;
}

form,
input {
  font-size: 1.2rem;
}

fieldset {
  width: 100%;
  display: grid;
  gap: 0.5em;
  border-color: purple;
}

label {
  display: grid;
  font-weight: bold;
}

legend {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}

input {
  border: 1px solid purple;
}
